html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background: #ffe500;
  padding:.2em .5em .3em;
}

h1, h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
}

h1 {
  display: block;
  text-align: center;
  font-size: 3rem;
}

h2 {
  display: block;
  text-align: left;
  font-size: 1.875rem;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  list-style-type: none;
  background-color: #b2a212;
}

nav a {
  text-decoration: none;
  border: 3px solid #b2a212;
  background-color: #b2a212;
  font-family: Georgia, serif;
  color: #fff;
  border-radius: 4px;
  padding: .2em .5em .3em;
}

a:hover {
  background-color: #cc1465;
  border: 3px solid #cc1465;
}

.current {
  background-color: #cc1465;
  border: 3px solid #cc1465;
}

main {
  padding: 0 .75em;
  margin: .3em;
}

img {
  display: block;
  width: 100%;
  margin: .3em;
}

p {
  display: block;
  font-size: 1.125rem;
}

footer {
  background: #ffe500;
}

small {
  display: block;
  text-align: center;
}
